.App {
  text-align: center;
}

.footer{
  background-color: #D1c4e9;
  margin: auto;
  padding-top: 10px;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}

.row-containt{
  margin: auto;
  padding: 50px 0px 50px 0px;
  min-height: 400px;
}

